body{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    background: aqua;
}
.header .head-name{
    font-size: 20px;
    color: peru;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.header #header-list{
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header #header-list li{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}
.header #header-list li a{
    text-decoration: none;
    color:brown;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    margin: 5px;

}
.header #header-list li:hover{
    background-color: lightgrey;
    border-radius:25px;
}
.header .head-name span{
    color: black;
    font-size: 25px;
}
.header .head-name h3{
    color: blue;
    margin-left: 5px;
    font-size: 27px;
}